In [1]:
import pandas as pd

In [5]:
week1 = pd.read_csv("Restaurant - Week 1 Sales.csv")
week2 = pd.read_csv("Restaurant - Week 2 Sales.csv")
customers = pd.read_csv("Restaurant - Customers.csv")
foods = pd.read_csv("Restaurant - Foods.csv")

   Food ID   Food Item  Price
0        1       Sushi   3.99
1        2     Burrito   9.99
2        3        Taco   2.99
3        4  Quesadilla   4.25
4        5       Pizza   2.49

In [6]:
len(week1)

250

In [7]:
len(week2)

250

In [10]:
len(pd.concat([week1,week2]))

500

In [12]:
pd.concat([week1,week2],ignore_index=True)

     Customer ID  Food ID
0            537        9
1             97        4
2            658        1
3            202        2
4            155        9
5            213        8
6            600        1
7            503        5
8             71        3
9            174        3
10           961        9
11           966        5
12           641        4
13           288        2
14           149        4
15           954        2
16           147        9
17           155        1
18           550        6
19           101        7
20           549        6
21            75        6
22            78        7
23           514        5
24           833        7
25           329        8
26           586       10
27           341        1
28           519       10
29           680        9
..           ...      ...
470          495        2
471          794        6
472          734       10
473          540        3
474          735        2
475          940        8
476          571        7
477          888        2
478          664        6
479          343        7
480          143        4
481          505        3
482           54        8
483          959        2
484          367        8
485          883        8
486          251        9
487          855        4
488          233        3
489          559       10
490          734        1
491          677        3
492          276        4
493           45        8
494          945        4
495          783       10
496          556       10
497          547        9
498          252        9
499          249        6

[500 rows x 2 columns]

In [13]:
pd.concat([week1,week2], keys=["Week1","Week2"])

           Customer ID  Food ID
Week1 0            537        9
      1             97        4
      2            658        1
      3            202        2
      4            155        9
      5            213        8
      6            600        1
      7            503        5
      8             71        3
      9            174        3
      10           961        9
      11           966        5
      12           641        4
      13           288        2
      14           149        4
      15           954        2
      16           147        9
      17           155        1
      18           550        6
      19           101        7
      20           549        6
      21            75        6
      22            78        7
      23           514        5
      24           833        7
      25           329        8
      26           586       10
      27           341        1
      28           519       10
      29           680        9
...                ...      ...
Week2 220          495        2
      221          794        6
      222          734       10
      223          540        3
      224          735        2
      225          940        8
      226          571        7
      227          888        2
      228          664        6
      229          343        7
      230          143        4
      231          505        3
      232           54        8
      233          959        2
      234          367        8
      235          883        8
      236          251        9
      237          855        4
      238          233        3
      239          559       10
      240          734        1
      241          677        3
      242          276        4
      243           45        8
      244          945        4
      245          783       10
      246          556       10
      247          547        9
      248          252        9
      249          249        6

[500 rows x 2 columns]