In [1]:
import pandas as pd
import numpy as np

In [3]:
data = np.random.randint(1,100,[1000,50])

In [6]:
df = pd.DataFrame(data)

df.tail()

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
995,72,70,56,89,29,99,18,76,86,24,...,44,15,60,49,88,40,81,8,25,44
996,64,62,36,14,2,53,34,42,65,94,...,81,60,77,90,76,1,34,95,33,62
997,54,81,21,60,2,92,26,49,59,78,...,37,16,93,4,14,28,81,82,3,42
998,56,38,28,46,72,38,24,34,70,67,...,7,86,99,86,35,80,48,84,31,27
999,40,77,38,99,43,24,19,51,10,85,...,48,64,91,2,50,90,97,86,10,15

In [8]:
pd.options.display.max_rows

60

In [12]:
pd.options.display.max_rows = 2

In [13]:
df

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,21,37,22,42,18,22,51,21,70,54,...,60,26,42,44,66,93,79,34,83,98
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999,40,77,38,99,43,24,19,51,10,85,...,48,64,91,2,50,90,97,86,10,15

In [15]:
pd.options.display.max_columns = 5

In [16]:
df

     0   1  ...  48  49
0    21  37 ...  83  98
..   ..  .. ...  ..  ..
999  40  77 ...  10  15

[1000 rows x 50 columns]

In [21]:
pd.get_option("max_columns")

20

In [20]:
pd.set_option("max_columns",20)

In [22]:
pd.reset_option

In [23]:
pd.describe_option("max_columns")

display.max_columns : int
    If max_cols is exceeded, switch to truncate view. Depending on
    `large_repr`, objects are either centrally truncated or printed as
    a summary view. 'None' value means unlimited.

    In case python/IPython is running in a terminal and `large_repr`
    equals 'truncate' this can be set to 0 and pandas will auto-detect
    the width of the terminal and print a truncated object which fits
    the screen width. The IPython notebook, IPython qtconsole, or IDLE
    do not run in a terminal and hence it is not possible to do
    correct auto-detection.
    [default: 20] [currently: 20]

In [27]:
pd.DataFrame(np.random.randn(5,5))

       0     1     2     3     4
0  -1.29 -0.28  2.92 -1.62  0.65
..   ...   ...   ...   ...   ...
4  -2.48 -0.30  0.06 -2.21  0.37

[5 rows x 5 columns]

In [25]:
pd.get_option("precision")

6

In [26]:
pd.set_option("precision",2)

In [28]:
df

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,21,37,22,42,18,22,51,21,70,54,...,60,26,42,44,66,93,79,34,83,98
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999,40,77,38,99,43,24,19,51,10,85,...,48,64,91,2,50,90,97,86,10,15